<template>
  <div id="app">
    <header class="b-header">
      <div class="b-header__item">
        <navigation></navigation>
      </div>
      <div class="b-header__item">
        <localization></localization>
      </div>
    </header>
    <main class="b-content">
      <router-view/>
    </main>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import Localization from '@/components/Localization'

export default {
  name: 'app',
  components: {
    Navigation,
    Localization
  }
}
</script>

<style lang="scss">
  @import "./assets/styles/main.scss";
</style>

