<template>
<label class="b-checkbox">
  <input type="checkbox" 
        class="b-checkbox__input" 
        :checked="!isDisabled ? isChecked : false" 
        :disabled="isDisabled" 
        @click="onCheckAction()"
        :class="{ '-state_disabled': isDisabled }">
  <span class="b-checkbox__checkmark"></span>
</label>
</template>

<script>
export default {
  name: 'Checkbox',
  components: {},
  props: {
    isChecked: {
      type: Boolean,
      default: false
    },
    onCheckAction: {
      type: Function,
      default: function () {}
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="sass"></style>
