<template>
<ul class="b-localization">
  <li class="b-localization__item -lang_en" :class="{ '-state_active': $i18n.locale === 'en' }" @click="changeLanguages('en')">EN</li>
  <li class="b-localization__item -lang_pl" :class="{ '-state_active': $i18n.locale === 'pl' }"   @click="changeLanguages('pl')">PL</li>
</ul>
</template>

<script>
import LanguageService from '@/services/LanguageService'

export default {
  name: 'EditPage',
  components: {},
  methods: {
    changeLanguages(lang) {
      this.$i18n.locale = lang;
      LanguageService.setLocalStorageLanguage(lang)
    },
    getCurrentLanguage() {
      this.$i18n.locale = LanguageService.getLocalStorageLanguage();
    }
  },
  mounted() {
    this.getCurrentLanguage();
  }
}
</script>

<style lang="sass"></style>
