<template>
<ul class="b-navigation">
  <navigation-item v-for="(route, index) in routesList" 
    :key="index" 
    :item="route"></navigation-item>
</ul>
</template>

<script>
import NavigationItem from '@/components/NavigationItem'
export default {
  name: 'Navigation',
  components: {
    NavigationItem
  },
  computed: {
    routesList() {
      return [
        {
          title: this.$i18n.t('navigation.home'),
          path: '/'
        },
        {
          title: this.$i18n.t('navigation.statuses'),
          path: '/statuses'
        },
        {
          title: this.$i18n.t('navigation.statistics'),
          path: '/statistics'
        },
      ]
    }
  }
}
</script>

<style lang="sass"></style>
