<template>
<li class="b-navigation__item">
  <router-link :to="item.path" class="b-navigation__link">{{item.title}}</router-link>
</li>
</template>

<script>
export default {
  name: 'NavigationItem',
  props: {
    item: {
      type: Object,
      default: function () {
        return { 
          title: '',
          path: ''
        }
      }
    },
  }
}
</script>

<style lang="sass"></style>
