<template>
<div class="b-container">
  <notes-list v-if="notesList"
              :list="notesList"
              :on-delete-action="deleteNotes"></notes-list>
  <add-panel :on-add-action="addNote"></add-panel>
</div>
</template>

<script>
import NotesList from '@/components/NotesList'
import NotesAddPanel from '@/components/NotesAddPanel'
import { mapState } from 'vuex'

export default {
  name: 'NotesPage',
  components: {
    NotesList,
    'add-panel': NotesAddPanel
  },
  computed: mapState({
    notesList: state => state.notes.notesList
  }),
  methods: {
    getNotes() {
      this.$store.dispatch('notes/GET_NOTES');
    },

    deleteNotes(deleteNotesArray) {
      this.$store.dispatch('notes/DELETE_NOTES', deleteNotesArray);
    },
    
    addNote(newNote) {
      this.$store.dispatch('notes/SAVE_NEW_NOTE', newNote);
    }
  },
  mounted() {
    this.getNotes();
  }
}
</script>

<style lang="sass"></style>
