<template>
<div class="b-container">
  <edit-form v-if="note"
  :note="note"
  :statuses-list="statusesList"
  :on-cancel-action="onCancelEditAction" 
  :on-submit-action="onSubmitEditAction"></edit-form>
</div>
</template>

<script>
import NotesEditForm from '@/components/NotesEditForm'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'EditPage',
  components: {
    'edit-form': NotesEditForm 
  },
  computed: {
    ...mapState({
      statusesList: state => state.statuses.statusesList
    }),
    ...mapGetters({
      getNoteById: 'notes/GET_NOTE'
    })
  },
  data() {
    return {
      noteId: '',
      note: {}
    }
  },
  methods: {
    onSubmitEditAction(editedNote) {
      this.$store.dispatch('notes/SAVE_EDITED_NOTE', editedNote);
      this.$router.push({ name: 'NotesPage' })
    },
    onCancelEditAction() {
      this.$router.push({ name: 'NotesPage' })
    },
    getNote() {
      this.noteId = this.$route.params.id;
      this.$store.dispatch('notes/GET_NOTES').then(() => {
        this.note = this.getNoteById(this.noteId);
      })
    },
    getStatuses() {
      this.$store.dispatch('statuses/GET_STATUSES');
    }
  },
  mounted() {
    this.getNote();
    this.getStatuses();
  }
}
</script>

<style lang="sass"></style>
