<template>
<div class="b-addPanel">
  <button class="b-button -size_big" @click="openAddDialog()">Add</button>
  <add-dialog 
    :is-show-dialog="isShowDialog" 
    :on-cancel-action="onCancelAddAction" 
    :on-submit-action="onSubmitAddAction"></add-dialog>
</div>
</template>

<script>
import NotesAddDialog from '@/components/NotesAddDialog'
import { addMixin } from '@/mixins/AddMixin'

export default {
  name: 'NotesAddPanel',
  components: {
    'add-dialog': NotesAddDialog
  },
  mixins: [addMixin],
  props: {
    onAddAction: { 
      type: Function,
      default: function() {}
    }
  }
}
</script>

<style lang="sass"></style>
