<template>
<div class="l-dialog" :class="{ '-state_active': isShowDialog }">
  <div class="b-dialog" :class="{ '-state_active': isShowWindow }">
    <h3 class="b-title">{{$t('titles.add.notes')}}</h3>
    <div class="b-dialog__item">
      <input 
        type="text" 
        class="b-field" 
        :placeholder="[[$t('placeholders.add.notes.title')]]"
        v-model.trim="note.title"
        @input="$v.note.title.$touch(); checkForm($v)">
        <div class="b-message -type_error" 
            v-if="!$v.note.title.required && $v.note.title.$error">{{$t('messages.required.title')}}</div>
    </div>
    <div class="b-dialog__item">
      <textarea 
        class="b-field -type_textarea" 
        :placeholder="[[$t('placeholders.add.notes.description')]]"
        v-model.trim="note.content"
        @input="$v.note.content.$touch(); checkForm($v)"></textarea>
        <div class="b-message -type_error" 
            v-if="!$v.note.content.required && $v.note.content.$error">{{$t('messages.required.description')}}</div>
    </div>
    <div class="b-dialog__item">
      <button class="b-button" 
              :disabled="isDisabledSubmit"
              :class="{ '-state_disabled': isDisabledSubmit }"
              @click="onSubmit($v, note)">{{$t('buttons.add')}}</button>
      <button class="b-button -color_transparent" 
              @click="onCancel($v)">{{$t('buttons.cancel')}}</button>
    </div>
  </div>
</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'NotesAddDialog',
  components: {},
  data () {
    return {
      isDisabledSubmit: true,
      isShowWindow: false,
      note: {
        id: '',
        title: '',
        content: '',
        status: {
          id: 1,
          title: 'New'
        }
      }
    }
  },
  watch: {
    isShowDialog: function(value) {
      if(value) {
        setTimeout(
          () => { 
            this.isShowWindow = true;
          }, 100);
      } else {
        this.isShowWindow = false;
      }
    }
  },
  props: {
    isShowDialog: {
      type: Boolean,
      default: false
    },
    onCancelAction: { 
      type: Function,
      default: function() {}
    },
    onSubmitAction: { 
      type: Function,
      default: function() {}
    }
  },
  validations: {
    note: {
      title: { required },
      content: { required }
    }
  },
  methods: {
    onSubmit(v, note) {
      this.onSubmitAction(Object.assign({}, note));
      this.resetForm(v);
    },
    checkForm(v) {
      if (v.note.$invalid) {
        this.isDisabledSubmit = true;
      } else {
        this.isDisabledSubmit = false;
      }
    },
    onCancel(v) {
      this.onCancelAction();
      this.resetForm(v);
    },
    resetForm(v) {
      v.$reset();
      this.note.title = '';
      this.note.content = '';
    }
  }
}
</script>

<style lang="sass"></style>
