<template>
<div class="b-table">
  <v-client-table :data="list" :columns="notesColumns" :options="notesOptions">
    <header-item slot="h__title" :title="$t('lists.notes.title')"></header-item>
    <header-item slot="h__content" :title="$t('lists.notes.content')"></header-item>
    <header-item slot="h__status" :title="$t('lists.notes.status')"></header-item>
    <header-checkbox slot="h__actions"
            :is-checked="isCheckedAll"
            :on-check-action="toggleCheckedAll"></header-checkbox>
    <span slot="status" slot-scope="props">{{props.row.status.title}}</span>
    <row-actions slot="actions"
            slot-scope="props"
            :item="props.row"
            :go-to-edit-page-action="goToEditPage"
            :on-delete-action="onDeleteItem"
            :is-checked="deleteArray.includes(props.row.id)"></row-actions>
  </v-client-table>
  <toast :is-show-toast="isShowDeleteToast" 
        :title="deleteTitle"
        :toast-style="warningStyle"
        :icon-title="warningIcon"
        :on-submit-action="onSubmitDeleteAction" 
        :on-cancel-action="onCancelDeleteAction"></toast>
</div>
</template>

<script>
import Toast from '@/components/Toast'
import Checkbox from '@/components/Checkbox'
import TableRowActionsItem from '@/components/TableRowActionsItem'
import TableHeaderItem from '@/components/TableHeaderItem'
import { deleteMixin } from '@/mixins/DeleteMixin'

export default {
  name: 'NotesList',
  components: {
    'header-checkbox': Checkbox,
    'row-actions': TableRowActionsItem,
    'header-item': TableHeaderItem,
    Toast
  },
  mixins: [deleteMixin],
  props: {
    list: {
      type: Array,
      default: function () {
        return []
      }
    },
    onDeleteAction: {
      type: Function,
      default: function() {}
    }
  },
  data () {
    return {
      warningIcon: 'exclamation-triangle',
      warningStyle: 'warning',
      notesColumns: ['title', 'content', 'status', 'actions'],
      notesOptions: {
        headings: {
          title: 'Title',
          content: 'Content',
          status: 'Status',
          actions: '',
        },
        sortable: ['title', 'content', 'status'],
        filterable: false,
        filterByColumn: true
      }
    }
  },
  computed: {
    deleteTitle() {
      return this.$i18n.t('messages.delete.notes')
    }
  },
  methods: {
    goToEditPage(note) {
      this.$router.push({ name: 'NotesEditPage', params: { id: note.id } })
    }
  }
}
</script>

<style lang="sass"></style>
