<template>
<div class="b-form" v-if="note">
  <h3 class="b-title">{{$t('titles.edit.notes')}}</h3>
  <div class="b-form__item">
    <input 
      type="text" 
      class="b-field" 
      :placeholder="[[$t('placeholders.edit.notes.title')]]"
      v-model.trim="note.title"
      @input="$v.note.title.$touch(); checkForm($v)">
      <div class="b-message -type_error" 
          v-if="!$v.note.title.required && $v.note.title.$error">{{$t('messages.required.title')}}</div>
  </div>
  <div class="b-form__item">
    <textarea 
      class="b-field -type_textarea" 
      :placeholder="[[$t('placeholders.edit.notes.description')]]"
      v-model.trim="note.content"
      @input="$v.note.content.$touch(); checkForm($v)"></textarea>
      <div class="b-message -type_error" 
          v-if="!$v.note.content.required && $v.note.content.$error">{{$t('messages.required.description')}}</div>
  </div>
  <div class="b-form__item">
    <v-select class="b-select" v-model="note.status" :value="note.status"  label="title" :options="statusesList"></v-select>
  </div>
  <div class="b-form__item">
    <button class="b-button" 
            :disabled="isDisabledSubmit"
            :class="{ '-state_disabled': isDisabledSubmit }"
            @click="onSubmit($v, note)">{{$t('buttons.save')}}</button>
    <button class="b-button -color_transparent" 
            @click="onCancel($v)">{{$t('buttons.cancel')}}</button>
  </div>
</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'NotesEditForm',
  components: {},
  data() {
    return {
      isDisabledSubmit: false,
      isShowWindow: false
    }
  },
  props: {
    note: {
      type: Object,
      default: function() {
        return {}
      }
    },
    statusesList: {
      type: Array,
      default: function() {
        return []
      }
    },
    onCancelAction: { 
      type: Function,
      default: function() {}
    },
    onSubmitAction: { 
      type: Function,
      default: function() {}
    },
    submitTitle: {
      type: String,
      default: 'Save'
    },
    cancelTitle: {
      type: String,
      default: 'Cancel'
    }
  },
  validations: {
    note: {
      title: { required },
      content: { required }
    }
  },
  methods: {
    onSubmit(v, note) {
      this.onSubmitAction(Object.assign({}, note));
      this.resetForm(v);
    },

    checkForm(v) {
      if (v.note.$invalid) {
        this.isDisabledSubmit = true;
      } else {
        this.isDisabledSubmit = false;
      }
    },

    onCancel(v) {
      this.onCancelAction();
      this.resetForm(v);
    },

    resetForm(v) {
      v.$reset();
      this.note.title = '';
      this.note.content = '';
    }
  }
}
</script>

<style lang="sass"></style>
