<template>
<div class="b-table">
  <v-client-table :data="list" :columns="statisticsColumns" :options="statisticsOptions">
    <header-item slot="h__title" :title="$t('lists.statistics.title')"></header-item>
    <header-item slot="h__score" :title="$t('lists.statistics.score')"></header-item>
    <span slot="title" slot-scope="props">{{props.row.title}}</span>
    <span slot="score" slot-scope="props">{{props.row.value}}</span>
  </v-client-table>
</div>
</template>

<script>
import TableHeaderItem from '@/components/TableHeaderItem'

export default {
  name: 'StatisticsList',
  components: {
    'header-item': TableHeaderItem,
  },
  data () {
    return {
      deleteTitle: 'Do you want to delete this status?',
      warningIcon: 'exclamation-triangle',
      warningStyle: 'warning',
      statisticsColumns: ['title', 'score'],
      statisticsOptions: {
        headings: {
          title: 'Title',
          score: 'Score'
        },
        filterable: false,
        filterByColumn: true
      }
    }
  },
  props: {
    list: {
      type: Array,
      default: function () {
        return []
      }
    }
  }
}
</script>

<style lang="sass"></style>
