<template>
<div class="b-table">
  <v-client-table :data="list" :columns="statusesColumns" :options="statusesOptions">
    <header-item slot="h__title" :title="$t('lists.statuses.title')"></header-item>
    <header-checkbox slot="h__actions"
            :is-checked="isCheckedAll"
            :on-check-action="toggleCheckedAll"
            :is-disabled="disableMainCheckbox()"></header-checkbox>
    <row-actions slot="actions"
            slot-scope="props"
            :item="props.row"
            :go-to-edit-page-action="goToEditPage"
            :on-delete-action="onDeleteItem"
            :is-disbled-checkbox="usedArray.includes(props.row.id)"
            :is-checked="deleteArray.includes(props.row.id)"></row-actions>
  </v-client-table>
  <toast :is-show-toast="isShowDeleteToast" 
        :title="deleteTitle"
        :toast-style="warningStyle"
        :icon-title="warningIcon"
        :on-submit-action="onSubmitDeleteAction" 
        :on-cancel-action="onCancelDeleteAction"></toast>
</div>
</template>

<script>
import Toast from '@/components/Toast'
import Checkbox from '@/components/Checkbox'
import TableRowActionsItem from '@/components/TableRowActionsItem'
import TableHeaderItem from '@/components/TableHeaderItem'
import { deleteMixin } from '@/mixins/DeleteMixin'

export default {
  name: 'StatusesList',
  components: {
    'header-checkbox': Checkbox,
    'row-actions': TableRowActionsItem,
    'header-item': TableHeaderItem,
    Toast
  },
  mixins: [deleteMixin],
  props: {
    list: {
      type: Array,
      default: function () {
        return []
      }
    },
    onDeleteAction: {
      type: Function,
      default: function() {}
    },
    onCheckUsingAction: {
      type: Function,
      default: function() {}
    }
  },
  data () {
    return {
      warningIcon: 'exclamation-triangle',
      warningStyle: 'warning',
      statusesColumns: ['title', 'actions'],
      statusesOptions: {
        headings: {
          title: 'Title',
          actions: ''
        },
        sortable: ['title'],
        filterable: false,
        filterByColumn: true,
        resizableColumns: true
      }
    }
  },
  computed: {
    deleteTitle() {
      return this.$i18n.t('messages.delete.statuses')
    }
  },
  methods: {
    goToEditPage(status) {
      this.$router.push({ name: 'StatusesEditPage', params: { id: status.id } })
    },
    getUsedStatuses() {
      this.onCheckUsingAction().then((array) => {
        this.usedArray = array;
      })
    }
  },
  mounted() {
    this.getUsedStatuses();
  }
}
</script>

<style lang="sass"></style>
