<template>
<div class="b-container">
  <edit-form v-if="status"
  :status="status"
  :on-cancel-action="onCancelEditAction" 
  :on-submit-action="onSubmitEditAction"
  :on-check-action="checkStatusTitle"></edit-form>
</div>
</template>

<script>
import MockRestService from '@/services/MockRestService'
import StatusesEditForm from '@/components/StatusesEditForm'
import { mapGetters } from 'vuex'

export default {
  name: 'StatusesEditPage',
  components: {
    'edit-form': StatusesEditForm
  },
  computed: {
    ...mapGetters({
      getStatusById: 'statuses/GET_STATUSE'
    })
  },
  data() {
    return {
      statusId: '',
      status: {}
    }
  },
  methods: {
    onSubmitEditAction(editedStatus) {
      this.$store.dispatch('statuses/SAVE_EDITED_STATUSE', editedStatus);
      this.$router.push({ name: 'StatusesPage' });
    },
    onCancelEditAction() {
      this.$router.push({ name: 'StatusesPage' });
    },
    getStatus() {
      this.statusId = this.$route.params.id;
      this.$store.dispatch('statuses/GET_STATUSES').then(() => {
        this.status = this.getStatusById(this.statusId);
      })
    },
    checkStatusTitle(status) {
      return MockRestService.checkStatusTitle(status);
    },
  },
  mounted() {
    this.getStatus();
  }
}
</script>

<style lang="sass"></style>
