<template>
<div class="b-container">
  <statistics-list v-if="statisticsList"
                  :list="statisticsList"></statistics-list>
</div>
</template>

<script>
import StatisticsList from '@/components/StatisticsList'
import { mapState } from 'vuex'

export default {
  name: 'StatusesPage',
  components: {
    StatisticsList
  },
  computed: mapState({
    statisticsList: state => state.statistics.statisticsList
  }),
  methods: {
    getStatistics() {
      this.$store.dispatch('statistics/GET_STATISTICS');
    }
  },
  mounted() {
    this.getStatistics();
  }
}
</script>

<style lang="sass"></style>
