<template>
<div class="b-form" v-if="status">
  <h3 class="b-title">{{$t('titles.edit.statuses')}}</h3>
  <div class="b-form__item">
    <input 
      type="text" 
      class="b-field" 
      :placeholder="[[$t('placeholders.edit.statuses.title')]]"
      v-model.trim="status.title"
      @input="$v.status.title.$touch(); checkForm($v, status)">
      <div class="b-message -type_error" 
          v-if="!$v.status.title.required && $v.status.title.$error">{{$t('messages.required.title')}}</div>
      <div class="b-message -type_error" 
            v-if="checkTitleResult.error">{{$t('messages.repeated.title')}}</div>
  </div>
  <div class="b-form__item">
    <button class="b-button" 
            :disabled="isDisabledSubmit"
            :class="{ '-state_disabled': isDisabledSubmit }"
            @click="onSubmit($v, status)">{{$t('buttons.save')}}</button>
    <button class="b-button -color_transparent" 
            @click="onCancel($v)">{{$t('buttons.cancel')}}</button>
  </div>
</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'StatusesEditForm',
  components: {},
  data() {
    return {
      isDisabledSubmit: false,
      checkTitleResult: {
        error: false,
        message: ''
      }
    }
  },
  props: {
    status: {
      type: Object,
      default: function() {
        return {}
      }
    },
    onCancelAction: { 
      type: Function,
      default: function() {}
    },
    onSubmitAction: { 
      type: Function,
      default: function() {}
    },
    onCheckAction: {
      type: Function,
      default: function() {}
    }
  },
  validations: {
    status: {
      title: { required }
    }
  },
  methods: {
    onSubmit(v, status) {
      this.onSubmitAction(Object.assign({}, status));
      this.resetForm(v);
    },
    checkForm(v, status) {
      this.onCheckAction(status).then((result) => {
        this.checkTitleResult = result;
        if (v.status.$invalid || this.checkTitleResult.error) {
          this.isDisabledSubmit = true;
        }  else {
          this.isDisabledSubmit = false;
        }
      });
    },
    onCancel(v) {
      this.onCancelAction();
      this.resetForm(v);
    },

    resetForm(v) {
      v.$reset();
      this.status.title = '';
    }
  }
}
</script>

<style lang="sass"></style>
