<template>
<div class="b-addPanel">
  <button class="b-button -size_big" @click="openAddDialog()">Add</button>
  <add-dialog
    :is-show-dialog="isShowDialog" 
    :on-cancel-action="onCancelAddAction" 
    :on-submit-action="onSubmitAddAction"
    :on-check-action="onCheckAction"></add-dialog>
</div>
</template>

<script>
import StatusesAddDialog from '@/components/StatusesAddDialog'
import { addMixin } from '@/mixins/AddMixin'

export default {
  name: 'StatusesAddPanel',
  components: {
    'add-dialog': StatusesAddDialog
  },
  mixins: [addMixin],
  props: {
    onAddAction: { 
      type: Function,
      default: function() {}
    },
    onCheckAction: {
      type: Function,
      default: function() {}
    }
  }
}
</script>

<style lang="sass"></style>
