<template>
<div class="b-container">
  <statuses-list v-if="statusesList"
                :list="statusesList"
                :on-delete-action="deleteStatuses"
                :on-check-using-action="checkUsedStatus"></statuses-list>
  <add-panel :on-add-action="addStatus" :on-check-action="checkStatusTitle"></add-panel>
</div>
</template>

<script>
import MockRestService from '@/services/MockRestService'
import StatusesList from '@/components/StatusesList'
import StatusesAddPanel from '@/components/StatusesAddPanel'
import { mapState } from 'vuex'

export default {
  name: 'StatusesPage',
  components: {
    StatusesList,
    'add-panel': StatusesAddPanel
  },
  computed: mapState({
    statusesList: state => state.statuses.statusesList
  }),
  methods: {
    getStatuses() {
      this.$store.dispatch('statuses/GET_STATUSES');
    },
    deleteStatuses(deleteStatusesArray) {
      this.$store.dispatch('statuses/DELETE_STATUSES', deleteStatusesArray);
    }, 
    addStatus(newStatus) {
      this.$store.dispatch('statuses/SAVE_NEW_STATUSE', newStatus);
    },
    checkStatusTitle(status) {
      return MockRestService.checkStatusTitle(status);
    },
    checkUsedStatus() {
      return MockRestService.checkUsedStatuses();
    }
  },
  mounted() {
    this.getStatuses();
  }
}
</script>

<style lang="sass"></style>
