<template>
<div class="b-tableHeaderItem">
  <div class="b-tableHeaderItem__item">{{title}}</div>
  <div class="b-tableHeaderItem__item" v-if="isSort">
    <font-awesome-icon :icon="['fas', 'sort']"/>
  </div>
</div>
</template>

<script>
export default {
  name: 'TableHeaderItem',
  components: {},
  props: {
    title: {
      type: String,
      default: ''
    },
    isSort: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="sass"></style>
