<template>
<div class="b-tableRowActionsItem">
  <div class="b-tableRowActionsItem__item">
    <checkbox :is-checked="isChecked" :on-check-action="onDeleteItem" :is-disabled="isDisbledCheckbox"></checkbox>
  </div>
  <div class="b-tableRowActionsItem__item">
    <button class="b-button -size_icon" @click="goToEditPageAction(item)"><font-awesome-icon :icon="['fas', 'edit']"/></button>
  </div>
</div>
</template>

<script>
import Checkbox from '@/components/Checkbox'

export default {
  name: 'TableRowActionsItem',
  components: {
    Checkbox
  },
  props: {
    isChecked: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: function() {
        return {}
      }
    },
    isDisbledCheckbox: {
      type: Boolean,
      default: false
    },
    goToEditPageAction: {
      type: Function,
      default: function() {}
    },
    onDeleteAction: {
      type: Function,
      default: function() {}
    }
  },
  methods: {
    onDeleteItem() {
      this.onDeleteAction(this.item.id);
    }
  }
}
</script>

<style lang="sass"></style>
