<template>
<div class="l-toast" 
    :class="{ '-state_active': isShowToast, 
              '-style_warning': toastStyle === 'warning' }">
  <div class="b-toast">
    <div class="b-toast__item">
      <div class="b-toast__icon">
        <font-awesome-icon :icon="['fas', iconTitle]" v-if="iconTitle"/>
      </div> 
      <div class="b-toast__text">{{title}}</div> 
    </div>
    <div class="b-toast__item">
      <button class="b-button -size_small" 
              :class="{ '-color_red': toastStyle === 'warning' }" 
              @click="onSubmitAction()">{{$t('buttons.yes')}}</button>
      <button class="b-button -size_small"
              @click="onCancelAction()"
              :class="{ '-color_white': toastStyle === 'warning' }">{{$t('buttons.no')}}</button>
    </div>
  </div>
</div>
</template>

<script>

export default {
  name: 'Toast',
  props: {
    isShowToast: {
      type: Boolean,
      default: false
    },
    onCancelAction: { 
      type: Function,
      default: function() {}
    },
    onSubmitAction: { 
      type: Function,
      default: function() {}
    },
    title: {
      type: String,
      default: ''
    },
    iconTitle: {
      type: String,
      default: ''
    },
    toastStyle: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass"></style>
