/*vue select*/
@import "vue-select/src/scss/vue-select.scss";
/*bootstrap*/
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import "includes/reset.scss";
@import "includes/variables.scss";

.l-html {}
.l-body {
	height: calc(100vh);
	position: relative;
	background: $bg-default;
	color: $color-primary;
	font: 14px/1.3 'Arial', sans-serif; 
}

/*mixins*/
@import "includes/mixins/placeholder.scss";

/*blocks*/
@import "includes/blocks/header.scss";
@import "includes/blocks/content.scss";
@import "includes/blocks/container.scss";
@import "includes/blocks/navigation.scss";
@import "includes/blocks/statistics.scss";
@import "includes/blocks/table.scss";
@import "includes/blocks/tableRowActionsItem.scss";
@import "includes/blocks/tableHeaderItem.scss";
@import "includes/blocks/addPanel.scss";
@import "includes/blocks/dialog.scss";
@import "includes/blocks/toast.scss";
@import "includes/blocks/form.scss";
@import "includes/blocks/localization.scss";

/*elements*/
@import "includes/blocks/checkbox.scss";
@import "includes/blocks/button.scss";
@import "includes/blocks/title.scss";
@import "includes/blocks/field.scss";
@import "includes/blocks/select.scss";
@import "includes/blocks/sortIcon.scss";
@import "includes/blocks/message.scss";
