/* sizes */
$min-width: 400px;
$min-header-hieght: 45px;
$min-width-dialog-1:  420px;
$min-width-dialog-2: 300px;
$min-width-toast-1:  700px;
$min-width-toast-2: 300px;

/* colors */
$color-primary: #3c3b3b; 
$color-2: #c9c9c9;
$color-3: #fff;
$color-4: #227eaf;
$color-5: #f01e1e;
$color-6: green;

/* backgrounds */
$bg-default: #f7f7f7;
$bg-2: #fff;
$bg-3: #989898;
$bg-4: #026697;
$bg-5: #f01e1e;

/* border-color */
$border-color-1: #c7c4c4;
$border-color-2: #fff;

/* breakpoints */
$breakpoint: 1000px;
$breakpoint-2: 500px;



