.b-button {
  min-width: 110px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 7px 0 0;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: $bg-4;
  color: $color-3;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.-size {

    &_big {
      min-width: 160px;
    }

    &_small {
      min-width: 95px;
      padding: 8px;
    }

    &_icon {
      min-width: 28px;
      padding: 6px;
    }
  }

  &.-color {
    
    &_transparent {
      padding-left: 2px;
      padding-right: 2px;
      background: transparent;
      color: $color-4;
    }

    &_red {
      border: 1px solid $border-color-2;
      background: $bg-5;
      color: $color-3;
    }

    &_white {
      background: $color-3;
      color: $color-5;
    }
  }

  &.-state {
    &_disabled {
      cursor: default;
      opacity: 0.7;
    }
  }
}