.l-dialog {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0,0,0, 0.2);

  &.-state_active {
    display: flex;
  }
}
.b-dialog  {
  min-width: $min-width-dialog-1;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 2px;
  background: $bg-2;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 1s linear;

  @media (max-width: $breakpoint-2) {
    min-width: $min-width-dialog-2;
  }

  &.-state_active {
    opacity: 1;
  }

  &__item {
    margin-bottom: 20px;
  }
}