.b-header {
  min-height: $min-header-hieght;
  min-width: $min-width;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: $bg-4;
  color: $color-3;

  &__item, &__item {
    display: flex;
    align-items: stretch;
  }
}