.b-localization {
  display: flex;
  align-items: stretch;

  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 54px;
    }

    &.-state {

      &_active {
        cursor: default;
        color: $color-2;
      }
    }

    &.-lang {

      &_en {}
      &_pl {}
    }
  }
}