.b-navigation {
  display: flex;

  &__item {}

  &__link {
    display: block;
    padding: 15px 20px;
    border-right: 1px solid $border-color-1;
    color: inherit;
    text-decoration: none;
  
    .b-navigation__item:first-child & {
      padding-left: 54px;
    }
  }
}