.b-select {
  background: #fff;
  font: 14px/1.3 'Arial', sans-serif;

  .vs__dropdown-toggle {
    padding: 6px 10px 7px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid $border-color-1;
    border-radius: 2px;
  }
}