.b-table {
  thead {
    th {
      vertical-align: middle;
    }
  }
  td, th {
    outline: 0;
    vertical-align: middle;
  }
  th {
    &.VueTables__sortable {
      cursor: pointer;
    }
  }
  .VuePagination {

    &__count {
      display: none;
    }
  }

  .VueTables {
    &__heading {
      display: flex;
      align-items: center;
    }
  }
}