.b-tableRowActionsItem {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}