.l-toast {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
  padding: 0 40px 15px;
  z-index: 99;

  &.-state_active {
    display: flex;
  }
}
.b-toast {
  min-width: $min-width-toast-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s linear;
  background: #fff;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.05);

  @media (max-width: $breakpoint) {
    min-width: $min-width-toast-2;
    flex-direction: column;
    padding: 10px;
  }

  .-style_warning & {
    background: $bg-5;
    color: $color-3;
  }

  .-state_active & {
    opacity: 1;
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: $breakpoint-2) {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  &__icon {
    margin: 0 10px 0 0;
    font-size: 20px;
  }

  &__text {
    margin: 0 10px 0 0;
  }
}